html {
  background: #4C3A20;
}

body {
  max-width: 950px;
  margin: auto;
  background: white;
  position: relative;
  font-family: "Josefin Sans";
}

.social-bar {
  position: absolute;
  right: 0;
  top: 0;
  font-size: .7em;
  padding: 1em;
}

.social-bar div {
  padding: 1em;
  width: .5em;
  height: .5em;
  border: 1px solid #333;
  border-radius: 100%;
  display: inline-block;
  margin: .5em;
}

.social-bar div i {
  font-size: 1.5em;
  position: relative;
  bottom: 0.45em;
  right: .36em;
}

.logo {
  text-align: center;
  padding-top: 1em;
}

.logo img {
  width: 18%;
  min-width: 11em;
}

.slogan {
  text-align: center;
  padding-top: 0.6em;
}

.menu {
  text-align: center;
  font-size: 1.2em;
}

.menu a {
  display: inline-block;
  padding: 1em;
  margin: 0em 5%;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: #5D4A44;
}

.menu a::before {
  content: "";
  background-image: url(img/coffeebean.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.4em;
  height: 1.4em;
  display: block;
  position: absolute;
  top: 1.3em;
  left: -0.6em;
}

h4 {
  font-weight: 500;
}

.menu a.active {
  color: #A24238;
}

.menu a.active::before {
  background-image: url(img/coffeemug.png);
  top: 0.7em;
}

.content {
  padding: 2em 0;
}

.picture {
  max-height: 20em;
  overflow: hidden;
}

.picture img {
  width: 100%;
  height: auto;
}

.about {
  background: #D8AE6E;
  color: white;
  margin-top: 2em;
  padding-bottom: 0.8em;
  margin-bottom: 1em;
}

.about h4 {
  text-align: center;
  padding-top: 0.6em;
  color: white;
}

.about p {
  padding: 0.2em 8.5%;
  line-height: 1.6em;
  font-weight: 300;
  font-size: 0.85em;
}

.about p::selection {
  background: #CE9797;
  color: #EFD1A5;
}

.partner h4 {
  text-align: center;
  margin-bottom: 2em;
}

.address h4 {
  text-align: center;
}

.address h5 {
  font-weight: normal;
}

.address .one {
  padding: 1em;
  max-width: 17em;
  margin: auto;
  font-size: 0.9em;
}

.address .schedule {
  color: #BF3B23;
  padding-top: 1.3em;
}

#menu h2 {
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  width: 6.5em;
  margin: auto;
  margin-bottom: .7em;
  border-bottom: 3px solid #D8AE6E;
  line-height: 1.4em;
}

#menu h3 {
  font-size: 0.9em;
  font-weight: 400;
  text-align: center;
  margin-top: -0.5em;
  color: #aaa;
}

#menu .item {
  max-width: 22em;
  margin: auto;
  padding: 1.2em 1em;
}

#menu .item strong {
  font-weight: 600;
}

#menu .item span {
  float: right;
  font-weight: 300;
}

#menu .item i {
  font-style: normal;
  font-size: 0.85em;
  display: block;
  position: absolute;
  padding-top: 0.2em;
  color: #aaa;
}

#menu .column-group > div {
  padding-bottom: 3em;
}

footer {
  text-align: center;
  padding-bottom: 1em;
  font-size: 0.8em;
  color: #999;
}
